
/*file.html page styleing*/
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
.header.homepage {
    border: solid 5px #ddd;
  }
  .body.file {
  margin: 1;

  background-color: pink;
}
/* Style the header */
.header {
    background-color: blue;
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */

.topnav {
    overflow:hidden;
    background-color: lightblue;
}
/* Style the topnav links */
.topnav a {
      float: left;
      padding: 2px 4px;
}
/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: red;
}



    .img-file {

float: right;
       max-width: 250px;
margin: 0 auto 30px;
border-radius: 100%;


    }

    @media screen and (max-width: 600px) {
       .img-file {
         float: none;
           display : block;
       }
    }
    /*footer style*/
    .footer {
        background-color: grey;
        padding: 2px;
        text-align: center;
        position: absolute;
        width: 50%;
        bottom: 10px;
        border: 3px solid #yellow;


    }
    /*facebook logo style*/
    .social-icon{height:25px;float:left;}


/*About.html layout*/
.body-about {


background-color: red;
text-decoration-style: wavy;
text-align: center;
border-style: dotted;
}
.header-about {
background-color: grey;
padding: 20px;
text-align: center;
border-style: groove;
}

/*portfolio.html layout*/
.img-portfolio{ height: 500px;
    width: 500px;}
.header-portfolio {background-color: yellow;
text-align: center;
padding: 20px;border-style:solid;
}

.body-portfolio {

  background-color: lightgreen;
  text-decoration-style: wavy;
  word-wrap:normal;
}

/*contact.html layout*/

.head-contact {
  background-color: yellow;
text-align: center;
padding: 20px;
border-Style: solid;}
.body-contact {
text-align: center;
background-color: orange;
border-style:dashed;}
/*Appetizer.html layout*/
.h2{text-align: center;
background-color: skyblue;
border-style:groove;}
.body-appetizer
{background-color: yellow;}
/*dessert.html layout*/
.body-dessert{background-color: red;



}
/*maincourse.html layout*/
