
/*file.html page styleing*/
.header.homepage {
    border-style: double;
            background-color: red;
        padding: 20px;
        text-align: center;
  }/*body style*/
  .wrapper {
  margin: 1;
border-style: double;
  background-color: rgba(255, 0, 0, 0.5);
  height: 100vh;
}


/* Style the top navigation bar */

.topnav {
    overflow:hidden;
    background-color: #ddd;
    padding: 10px;
}
/* Style the topnav links */
.topnav a {
      float: left;
      padding: 2px 20px;
}
/* Change color on hover */
.topnav a:hover {
    background-color: white;
    color: red;
}



    .img-file {

float: right;
       max-width: 250px;
margin: 0 auto 30px;
border-radius: 100%;


    }

    @media screen and (max-width: 600px) {
      .img-file {float: none;
        display : block;
       }
    }
    /*footer style*/
    .footer {
        background-color: grey;
        padding: 2px;
        text-align: center;
        position: absolute;
        width:100%;
        bottom: 1px;
        border-style:groove ;
        height: 5vh;


    }
    /*facebook logo style*/
    .social-icon{height:25px;float:left;}


/*About.html layout*/
.body-about {


background-color: red;
text-decoration-style: wavy;
text-align: center;
border-style: dotted;
height:100vh;
}
.header-about {
background-color: grey;
padding: 20px;
text-align: center;
border-style: groove;
}

/*portfolio.html layout*/

.header-portfolio {background-color: yellow;
text-align: center;
padding: 20px;border-style:solid;
}



/*contact.html layout*/

.head-contact {
  background-color: yellow;
text-align: center;
padding: 20px;
border-Style: solid;}
.body-contact {
text-align: center;
background-color: orange;
border-style:dashed;
height: 100vh;}
.footer-contact{background:grey;text-align: center;width:100%;height:25vh;}
/*Appetizer.html layout*/
.h2{text-align: center;
background-color: skyblue;
border-style:groove;}
.wrapper-a
{background-color: yellow;
height: 100vh;}
/*dessert.html layout*/
.body-dessert{background-color: red;}
.head-dessert {text-align: center;
background-color: #32af4d;
border-style:dotted;}


}
/*maincourse.html layout*/
