
/*file.html page styleing*/
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
.header.homepage {
    border: solid 5px #ddd;
  }
  body {
  margin: 1;

  background-color: pink;
}
/* Style the header */
.header {
    background-color: blue;
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */

.topnav {
    overflow:hidden;
    background-color: lightblue;
}
/* Style the topnav links */
.topnav a {
      float: left;
      padding: 2px 4px;
}
/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: red;
}



    img {
        float: right;
         max-width: 250px;
margin: 0 auto 30px;
border-radius: 100%;
    }

    @media screen and (max-width: 600px) {
       img {
         float: none;
           display : block;
       }
    }
    /*footer style*/
    .footer {
        background-color: #ddd;
        padding: 2px;
        text-align: center;


    }
    /*facebook logo style*/
    .social-icon{height:25px;float:left;}


/*About.html layout*/
.body.about {
margin: 1;

background-color: red;}

/*portfolio.html layout*/

.body.portfolio {

  background-color: lightgreen;
text-decoration-style: wavy;
 display: block;
 
}
